.g{
height: 40px;
width: 600px;
}
.lp{
				height: 40px;
				width: 40px;
				margin-top:-15px;
}
.le{
  margin-left:180px;
}
.imagem{
  float: left;
  
}
.coroa{
				width: 500px;
				height: 500px;
				margin-top:10px;
}
.dpx{
				margin-top:50px; 
}
.dpxp{
				margin-top:10px;
}
.dq{
				
				
				margin-top:-18px;
}
.mpb{
				width: 52px;
				height: 52px;
				
}
.espl{
			margin-top:20px;
}
.espq{
				margin-left:10px;
}
.escp{
				border-color:#2b2eff;
border-style:outset;
font: bold 50px arial, sans-serif;
text-shadow:none;
background: #321531;
color: white;
} 
.ep{
width: 500px;
}
.escm{
border-color:#3c2bff;
border-style:outset;
font: bold 20px arial, sans-serif;
text-shadow:none;
background: #ffffff;
color: black;
				
				
}