.g{
height: 20px;
width: 300px;
}
.lp{
				height: 20px;
				width: 20px;
				
}
.le{
  margin-left:325px;
}
.imagem{
  float: left;
  
}
.coroa{
				width: 250px;
				height: 250px;
				margin-top:10px;
}
.dpx{
				margin-top:50px; 
}
.dpxp{
				margin-top:10px;
}
.dq{
				margin-right:10px;
}
.mpb{
				width: 26px;
				height: 26px;
				
}